/* Reset default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

/* Centered content */
.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

/* Images */
.image-bordered {
    border: 5px solid white;
    margin-bottom: 10px;
}

/* Page title */
.page-title {
    text-transform: capitalize;
    font-size: 50px;
    margin-top: 20px;
    /* Add some space at the top */
}